body{
	color:black;
	background-color:green;
}


#wrapper{
	width:750px;
	margin:0 auto;
	background-color:white;
}

#header{
	height:90px;
	text-align:center;
	background-color: red;

}

#nav1{
	float:left;
	width:190px;
	height: 75px;
	background-color:pink;
	padding:5px;

}

#nav2{
	float:right;
	width:540px;
	height:75px;
	background:orange;
	padding:5px;
}

#leftbody{
	float:left;
	width:740px;
	height: 450px;
	background-color:blue;
	padding:5px;
	font-weight: bold;

}

#bottom{
	text-align:left;
	height:50px;
	clear:both;
	background-color: yellow;
	font-weight: bold;
}
